<?xml version="1.0" encoding="UTF-8"?>

<context>
  <!-- The id is a unique string that identifies this context. -->
  <bot name="id" value="ALICE"/>

  <!-- Bot predicates are set at load time, and cannot be changed at runtime. -->
  <bot name="output" value="output.txt"/>
  <!-- <bot name="randomSeed" value="1"/> values are more random if the seed isn't specified. -->
  <bot name="series" value="00 (Alpha)"/>
  <bot name="version" value="007"/>

  <!-- Default values for predicates, can be changed later at runtime. -->
  <set name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
  <set name="name" value="ALICE"/>
  <set name="me" value="Alice"/>
  <set name="engine" value="ChatterBean"/>
  <set name="topic" value="*"/>
</context>
